mushroom
mrconsole
a.out
*.log
*.so
*.a
core
sqlite
*.so.*
*.[io]
Thumbs.db
*.html
.tmp*~
*.swp
*.swp\~
build/*
build/
*.pb
missing
config.status
configure
depcomp
install-sh
Makefile.in
Makefile
autom4te.cache/
autom4te.cache/*
config.log
aclocal.m4
.deps/
.deps/*
